.todo-comp {
 background-color: var(--Very-Light-Gray);
 border-radius: var(--border-radius);
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: .8em 0;
}

.todo-comp .col-1,
.todo-comp .col-2 {
 display: flex;
 align-items: center;
}

.todo-comp .col-1 {
 gap: .6em;
}

.todo-comp .checkbox {
 display: grid;
 border-radius: 100%;
 border: 1px solid var(--Light-Grayish-Blue);
 transition: border-color var(--primary-transition);
}

.todo-comp .checkbox:hover {
 border-color: var(--Bright-Blue);
}

.todo-comp .checkbox img {
 padding: .6em;
 border-radius: 100%;
 background-image: var(--Check-Background);
 opacity: 0;
 transition: opacity var(--primary-transition);
}

.todo-comp.complete .checkbox img {
 opacity: 1;
}

.todo-comp .col-2 button {
 display: grid;
 padding-right: .2em;
}

.todo-comp.complete .txt-container strong {
 text-decoration: line-through;
 color: var(--Light-Grayish-Blue);
}